services:
  web:
    build: .
    user: "${UID}:${GID}"
    command: bin/rails s -p 3000 -b 0.0.0.0
    volumes:
      - .:/app
    ports:
      - "3001:3000"
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password

volumes:
  db-data: