<h1>すごろく盤面</h1>

<form action="<%= boards_path %>" method="get" class="board-form">
  <label>マス数：</label>
  <input type="number" name="size" value="<%= @size %>" min="15" max="200">
  <button type="submit">盤面を作る</button>
</form>

<div class="board">
  <% @cells.each do |cell| %>
    <%= board_cell(cell, @size) %>
  <% end %>
</div>